{% extends "base.html" %}

{% block content %}
    <div class="col-md-6 offset-md-3 ">
        <h1> User Details </h1>
        <br/>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <strong> {{record.first_name}} {{record.last_name}} </strong>                
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong> Phone: </strong>
                    {{record.phone}}
                </li><br/>
                <li class="list-group-item">
                    <strong> Email: </strong>
                    {{record.email}}
                </li><br/>
                <li class="list-group-item">
                    <strong> Address: </strong>
                    {{record.address}}
                </li><br/>
                <li class="list-group-item">
                    <strong> City: </strong>
                    {{record.city}}
                </li><br/>
                <li class="list-group-item">
                    <strong> State: </strong>
                    {{record.state}}
                </li><br/>
                <li class="list-group-item">
                    <strong> Zipcode: </strong>
                    {{record.zipcode}}
                </li><br/>
            </ul>
        </div>
        <a href="{% url "home" %}" class="btn btn-secondary"> Back </a>
        <a href="{% url 'update_Record' record.id  %}" class="btn btn-primary"> Update </a> 
        <a href="{% url 'delete_Record' record.id  %}" class="btn btn-danger"> Delete </a>
    </div>
{% endblock %}